@{
    Layout = "_HomeLayout";
}
<head>
    <link rel="stylesheet" href="~/css/HomeLayout.css"/>
</head>
<div class="hero-section">
    <div class="hero-content">
        <h1>Welcome To our Project</h1>
            <p>Faculty System - Streamline your academic processes effortlessly</p>
        
    </div>
</div>