@model Models.Lectures

<h1>Create</h1>

<h4>Lectures</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Lecture Name</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label >Lecture Document</label>
                <input type="file" asp-for="LecURL" class="form-control" />
                <span asp-validation-for="LecURL" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label for="CourseId" class="form-label">Course</label>
                <select class="form-select" asp-for="CourseId" asp-items="ViewBag.Course" required>
                    <option value="">Select Course</option>
                </select>
                <div class="invalid-feedback">
                    Please select a Course.
                </div>
                <span asp-validation-for="CourseId" class="text-warning"></span>
            </div>
            <div class="form-group">
                <input type="submit"  class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>




<div>
    <a asp-action="Index">Back to List</a>
</div>


@section Scripts {
        <partial name="_ValidationScriptsPartial.cshtml">
}
